@mixin button($radius, $padding) {
  border: none;
  border-radius: $radius;
  padding: $padding;
  cursor: pointer;
}

@mixin smallText($size, $color, $mtop) {
  font-size: $size;
  color: $color;
  margin-top: $mtop;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin modal {
  cursor: pointer;
  &:hover {
    color: var(--bright-blue);
  }
  @content;
}
