@mixin button($radius, $padding) {
  border: none;
  border-radius: $radius;
  padding: $padding;
  cursor: pointer;
}

@mixin smallText($size, $color, $mtop) {
  font-size: $size;
  color: $color;
  margin-top: $mtop;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin modal {
  cursor: pointer;
  &:hover {
    color: var(--bright-blue);
  }
  @content;
}

@mixin slideIn($duration) {
  @keyframes slideInAnimation {
    from {
      opacity: 0;
      transform: translateY(-5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: slideInAnimation $duration ease-in-out;
  animation-fill-mode: both;
}

@mixin responsiveText($size, $smaller) {
  font-size: $size;

  @media (max-width: 768px) {
    font-size: $smaller;
  }
}
