.mainPageWrapper {
  display: flex;
  justify-content: center;
}

.mainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  width: 700px;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1000;

  .productCard {
    margin: 0 10px 30px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: calc(100% / 3 - 20px);
    max-width: calc(100% / 3 - 20px);

    @media screen and (max-width: 1200px) {
      flex: 1 0 25%;
      max-width: 25%;
    }

    @media screen and (max-width: 900px) {
      flex: 1 0 33.33%;
      max-width: 33.33%;
    }

    @media screen and (max-width: 600px) {
      flex: 1 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 400px) {
      flex: 1 0 100%;
      max-width: 100%;
    }

    .imgContainer {
      position: relative;
      width: 100%;
      padding-top: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h4 {
      padding: 10px;
      font-size: 18px;
      color: #333;
    }

    p {
      padding: 0 10px;
      font-size: 16px;
      color: #666;
    }
  }

  .writeButton {
    position: fixed;
    right: 40px;
    bottom: 30px;
    padding: 10px 20px;
    background-color: #2095b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

    a {
      color: #fff;
    }
  }
}

.chattingBtn {
  position: fixed;
  right: 40px;
  bottom: 80px;
  padding: 10px 20px;
  background-color: #2095b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
  padding-top: 0;

  a {
    color: #fff;
  }
}
