.myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--header-margin);

  .myProfileContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;

    .myProfileBox1 {
      .myProfileImg {
        width: 200px;
        height: 200px;
        background-color: black;
      }

      button {
        border: none;
        padding: 10px;
        width: 100%;
      }
    }

    .myProfileBox2 {
      width: 200px;
      height: 200px;
      padding-left: 10px;

      .myProfileNickname {
        height: 30%;
      }
      .myProfileDescription {
        height: 70%;
        position: relative;

        button {
          position: absolute;
          bottom: 0px;
          right: 0px;
        }
      }
    }
  }

  .myListTitle {
    display: flex;

    li {
      margin: 0 20px;
    }
  }
}
