@import './utilies';

.myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: var(--header-margin);

  .myProfileContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;

    .myProfileBox1 {
      .myProfileImg {
        width: 200px;
        height: 200px;
        background-color: black;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      button {
        width: 100%;
        @include button(20px, 10px);
      }
    }

    .myProfileBox2 {
      width: 200px;
      height: 270px;
      padding: 20px 15px;

      .myProfileNickname {
        height: 30%;
      }
      .myProfileContent {
        height: 70%;
        position: relative;

        button {
          position: absolute;
          bottom: 0px;
          right: 0px;
          @include button(20px, 10px);
        }
      }
    }
  }

  .myList {
    margin-top: 40px;
    max-width: 400px;
    width: 100%;

    .myListTitle {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      li {
        color: #000;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
          display: block;
          content: '';
          padding-bottom: 5px;
          border-bottom: solid 2px var(--main-navy);
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          transform-origin: 0% 50%;
        }

        &:hover:after {
          transform: scaleX(1);
        }
      }
    }

    .myListContent {
      margin-top: 40px;
    }
  }
}
