.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2095b9;
  padding: 20px;
  box-sizing: border-box;
  z-index: 8900;

  .hamburgerButton {
    width: 40px;
    height: 40px;
    font-size: 17px;
    margin-right: auto;
    cursor: pointer;
    background-color: #ffffff;
    display: block;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

  .categoryWindow {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    width: 15%;
    height: 340px;
    z-index: 850;

    div:not(.categoryInfo) {
      font-size: 25px;
      text-align: center;
      margin: 10px;
      cursor: pointer;

      &:active {
        color: var(--bright-blue);
      }

      &:after {
        display: block;
        content: "";
        padding-bottom: 5px;
        border-bottom: solid 3px var(--light-blue);
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

    .categoryInfo {
      font-size: 25px;
      text-align: center;
      margin: 10px;
      margin-top: 20px;
      font-weight: bold;
    }
  }

  .pageTitle {
    margin: 0 0 0 -50%;
    z-index: 999;
    font-size: 35px;
  }

  .pageTitle a {
    color: white !important;
  }

  .searchSection {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    hr {
      padding-bottom: 0;
    }

    .searchInput {
      width: 300px;
      height: 40px;
      margin-right: 10px;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      padding-left: 10px;
    }

    .searchButton {
      cursor: pointer;
      height: 37px;
      width: 40px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }

  .loginButton,
  .logoutButton {
    width: 80px;
    height: 40px;
    font-size: 17px;
    margin-left: auto;
    cursor: pointer;
    background-color: #ffffff;
    display: block;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

  .mypageButton {
    width: 90px;
    height: 40px;
    font-size: 17px;
    margin-left: auto;
    cursor: pointer;
    background-color: #ffffff;
    display: block;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

  .authButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 200px;
    margin-left: auto;
  }
}

.dimmedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998; // 네비게이션 바 아래에 위치하도록 z-index를 설정
}
