.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5585a7;
  padding: 20px;
  box-sizing: border-box;
  z-index: 8900;

  .hamburgerButton {
    width: 40px;
    height: 40px;
    font-size: 17px;
    margin-right: auto;
    cursor: pointer;
    background-color: #ffffff;
    display: block;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }

  .categoryWindow {
    position: absolute;
    top: 100%; // 버튼 바로 아래에 위치
    left: 0; // 왼쪽에 붙어있게 위치
    background-color: #ffffff;
    opacity: 1;
    width: 20%;
    height: 500px;
    z-index: 850;

    div {
      font-size: 25px;
      text-align: center;
      margin: 10px;
      cursor: pointer;
    }
  }

  .pageTitle {
    margin: 0 0 0 -60%;
    z-index: 999;
    font-size: 35px;
  }

  .pageTitle a {
    color: white !important;
  }

  .searchSection {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .searchInput {
      width: 300px;
      height: 40px;
      margin-right: 10px;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      padding-left: 10px;
    }

    .searchButton {
      cursor: pointer;
      height: 37px;
      width: 40px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }

  .loginButton {
    width: 70px;
    height: 40px;
    font-size: 17px;
    margin-left: auto;
    cursor: pointer;
    background-color: #ffffff;
    display: block;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }
}

.dimmedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998; // 네비게이션 바 아래에 위치하도록 z-index를 설정
}
