.SalePost {
  padding-bottom: 20px;
  form {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      label {
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 250px;
          height: 250px;
          margin-top: 30px;
        }
      }

      input[type="text"],
      input[type="number"],
      select,
      textarea {
        width: 60%;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      select {
        width: 60%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }

      textarea {
        width: 60%;
        height: 200px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        resize: none;
      }
    }

    button {
      width: 50%;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      // position: absolute;
      right: 20px;
      bottom: 20px;
      &:hover {
        background-color: #1c72bd;
      }
      margin-top: 20px; /* 위쪽 마진 설정 */
    }

    .submitButton {
      background-color: #3c7db6;
      display: block;
      margin-left: auto;
      width: 30%;
      font-size: 15px;
    }
  }

  .exImage {
    width: 250px;
    height: 250px;
    cursor: pointer;
    object-fit: cover;
    position: relative;
  }

  .priceInput {
    position: relative;
  }

  .priceInput input[type="number"] {
    padding-right: 25px; /* '원' 텍스트를 수용할 만큼의 공간을 확보합니다. */
  }

  .priceInput::after {
    content: "원";
    position: absolute;
    right: 155px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e8e;
  }
}

hr {
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #00bbea 0%, #e74c3c 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
