* {
  box-sizing: border-box;
}

// padding, border-radius
.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signUpInputForm {
    max-width: 400px;
    width: 100%;

    .signUpInput {
      margin: 20px 0;
      max-width: 600px;

      input {
        display: block;
        padding: 10px;
        border-radius: 20px;
        border: 0;
        width: 100%;
        box-shadow: 0 1px 2px black;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
  }

  .signUpButton {
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
  }
}
