@import './utilies';
$transition-duration: 0.5s;

* {
  box-sizing: border-box;
}

.signForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--header-margin);

  .signInputForm {
    max-width: 400px;
    @include size(100%, 550px);

    .signUp {
      animation: slide $transition-duration ease-in-out;
    }

    .signIn {
      animation: slide $transition-duration ease-in-out;
    }

    .signMsg {
      @include smallText(12px, tomato, 15px);
      text-align: center;
      height: 30px;
    }

    .signInput {
      margin: 20px 0;
      max-width: 600px;
      height: 80px;
      position: relative;

      label {
        padding-left: 4px;
      }

      input {
        display: block;
        padding: 5px 10px;
        margin: 7px 0;
        border: 0;
        border-bottom: 3px solid;
        border-image: linear-gradient(to right, var(--bright-blue), #e74c3c);
        border-image-slice: 1;
        position: relative;
        outline: none;
        width: 100%;
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      span {
        position: absolute;
        right: 94px;
        top: 26px;
        font-size: 11px;
        color: var(--main-blue);
      }

      button[type='button'] {
        @include button(10px, 7px);
        position: absolute;
        bottom: 40px;
        right: 10px;
        font-size: 10px;
        background-color: var(--bright-blue);
        color: white;
        animation: slide $transition-duration ease-in-out;
        box-shadow: 2px 2px 1px 1px #5b5b5b;
        transition-duration: 0.2s;

        &:active {
          box-shadow: none;
        }
      }

      small {
        display: block;
        @include smallText(11px, tomato, 10px);
      }
    }
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
